
<h2> Leaderboard </h2> 
<h4> Top Users </h4>

<div id="topUsers"></div>
<%= react_component 'TopUsers' %>
<ul>
    <%# @users.each do |user| %>
        <li><%# user.username %></li>
        <li><%# user.blog %></li>
        <li><%# user.github_url %></li>
        <li><img src="<%# user.avatar_url %>" /></li>
        <li><%# user.location %></li>
    <%# end %>
</ul>
