<!DOCTYPE html>
<html>
<head>
    <title>Open Source Champion</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">OPC</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="navbar_item"><a href="#">Battle</a></li>
      <li class="navbar_item"><a href="#">Leaderboard</a></li>
      <li class="navbar_item"><a href="#">About</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Battle</a></li>
      <li><a href="#">Leaderboard</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h1 class="center-align"> Open Source Champion </h1>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://raw.githubusercontent.com/hashdog/node-identicon-github/master/examples/images/github.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://github.com/identicons/japh.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://raw.githubusercontent.com/1l0/identicon/master/example/identicons/default.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://github.com/identicons/jasonlong.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://github.com/identicons/jcazevedo.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://github.com/identicons/streetlife.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://github.com/identicons/10101010101010101ffffffffa000000.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://help.github.com/assets/images/help/profile/identicon.png"></a>
  </div>
</div>
</body>
</html>
