<!DOCTYPE html>
<html>
<head>
    <title>Open Source Champion</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">OSC</a>
    <a href="#" data-activates="mobile-demo" class="navbar_item button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="navbar_item"><a href="/battle">Battle</a></li>
      <li class="navbar_item active"><a href="/leaderboard">Leaderboard</a></li>
      <li class="navbar_item"><a href="/about">About</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/battle">Battle</a></li>
      <li><a href="/leaderboard" class="active">Leaderboard</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h3 class="center-align"> Leaderboard </h3>

  {{ #users }}
  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey col12 leaderboard_cards">
        <div class="card-action white-text col s6">
          <span class="card-title">{{ login }}</span>
          <br />
          <img src="{{ image }}" class="leaderboard_image"/>
        </div>
        <div class="card-action white-text col s6">
          <p class="white-text">{{ wins }} Wins</p>
          <p class="white-text">{{ location }}</p>
          <a href="{{ github_url }}">Github</a>
          <a href="{{ blog }}">Blog</a>
        </div?
      </div>
    </div>
  </div>
  {{ /users }}

</div>
</body>
</html>
