<h2> Confirm Battle </h2>

<h3> Player One </h3>
<%= @player_one %>
<p class='p_one_location'></p>
<img class="p_one_img" src="" />
<p class='p_one_score'></p>

<h3> Player Two </h3>
<%= @player_two %>
<p class='p_two_location'></p>
<img class='p_two_img' src="" />
<p class='p_two_score'></p>



