<label><%= @player %></label>
<input class="player" type="text" name="player" />

<% if @player == "Player One" %>
    <button class="player_select">Select Player One</button>
<% else %>
    <button class="player_two player_select">Select Player Two</button>
<% end %>
