<!DOCTYPE html>
<html>
<head>
  <title>Open Source Champion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--
<header>

                <h1>open source champion</h1>
                <ul>
                    <li><%# link_to 'home', root_path %></li>
                    <%# link_to 'battle', new_battle_path %>
                    <li><a href="/battle">battle</a></li>
                    <li><%# link_to 'leaderboard', users_path %></li>
                    <li><%# link_to 'recent battles', battles_path %></li>
                </ul>
</header>
-->


<%= yield %>
</body>
</html>
